/*Especificidad (0,0,1)*/
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Especificidad (0,0,1)*/
label,input,textarea{
    width:96%;
}
/*Especificidad (0,0,2)*/
main article{
    flex-grow: 1;
    width: 20%;
    border: 0.3rem solid #675345;
    margin: 0.5%;
    border-radius: 10%;
    background-color: #FFEEAD;
    text-align: center;
}
@media screen and (max-width: 810px){
    /*Especificidad (0,0,1)*/
    main{
        flex-direction: column;
    }
    /*Especificidad (0,0,2)*/
    main article{
        width: 98%;
    }
}