/*Javier Carrasco Arango : UO294532*/
/***
Gama cromática
fondo página #E7F4EE
fondo título #FFEEAD
color texto #292929
color menú #05282A
***/
/*Especificidad (0,0,1)*/
html{
    font-family: Verdana, Tahoma, sans-serif;
    height: 100%;
}
/*Especificidad (0,0,1)*/
body {
    width:100%;
    height:100%;
    margin: 0%;
    background-color: #E7F4EE;
    color: #292929;
    display: flex;
    flex-direction: column;
}
/*Especificidad (0,0,1)*/
footer{
    width: 100vw;
    background-color: #000000;
    color: #FFFFFF;
}
/*Especificidad (0,0,1)*/
section{
    width: 50%;
    margin: 0% 25%;
    border: 0.2cap solid #afafaf;
    border-radius: 0.5cap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
table{
    width: 100%;
}
/*Especificidad (0,0,1)*/
header {
    background-color: #FFEEAD;
    padding: 1% 2%;
    align-items: center;
}
/*Especificidad (0,0,1)*/
h1,nav {
    color: #05282A;
}
/*Especificidad (0,0,1)*/
h2,h3,h4,h5,h6{
    color: #294429;
    width:98%;
    margin:1%;
}
/*Especificidad (0,0,2)*/
h1 > a{
    padding: 0.3cap;
    color:#05282A;
    text-decoration: none;
}
/*Especificidad (0,0,2)*/
header + p{
    margin:1%;
    font-size: 0.7rem;
}
/*Especificidad (0,0,1)*/
main{
    width:95%;
    margin:1%;
    flex-grow: 1;
}
/*Especificidad (0,1,2)*/
main a:link{
    color:#292929;
}
/*Especificidad (0,1,2)*/
main a:visited{
    color: #0000FF;
}
/*Especificidad (0,1,2)*/
main a:focus,main a:hover{
    color:#0000FF;
}
/*Especificidad (0,0,2)*/
ul > li{
    list-style:square;
}
/*Especificidad (0,0,3)*/
ol > li a{
    font-size: 2cap;
}
/*Especificidad (0,0,2)*/
dl dt, dl dd{
    color: #690000;
}
/*Especificidad (0,0,1)*/
table{
    border: 3px solid;
}
/*Especificidad (0,0,1)*/
th{
    border: 2px solid;
}
/*Especificidad (0,0,2)*/
nav a{
    color:#FFFFFF;
    text-decoration: none;
    background-color: #ba4a00;
    border: 0.1rem solid #8e3900;
    border-radius: 1.5cap;
    padding: 1em;
    margin: 0.2cap;
    line-height: 1.5em;
}
/*Especificidad (0,0,1)*/
li {
    padding: 1em;
}
/*Especificidad (0,1,1)*/
a.active{
    background-color: #8e3900;
}
/*Especificidad (0,0,2)*/
main > div{
    width:100%;
    height: 50vh;
}
/*Especificidad (0,0,2)*/
p img{
    width:90vw;
    margin: 0.5vw;
}
/*Especificidad (0,0,1)*/
textarea{
    resize: none;
    width: 100%;
}
/*Especificidad (0,0,1)*/
svg{
    width:100%;
    height:100%;
}
/*Especificidad (0,0,1)*/
video {
    width:50%;
    height:auto;
}
/*Especificidad (0,0,1)*/
del{
    background-color: #ffbbbb;
}
/*Especificidad (0,0,1)*/
ins{
    background-color: #d4fcbc;
}
canvas{
    width:100%;
    height:10rem;
    border:1px solid #000000;
}
button{
    margin:0.5rem 0.5rem;
}
div+section{
    position:relative;
    overflow: hidden;
    height:70vh;
    box-sizing: border-box;
}
div+section h3{
    text-align: center;
}
div+section img{
    height: 100%;
    max-width: 100vh;
    object-fit: cover;
    position:absolute;
    padding: 2.3em;
    transition: all 0.5s;
}
div+section button{
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    top: 50%;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    align-items:center;
    justify-content: center;
}
div+section button:active {
    transform: scale(1.1);
}

div+section button:nth-of-type(2) {
    left: 2%;
}

div+section button:nth-of-type(1) {
    right: 2%;
}
@media screen and (max-width: 950px){
    section{
        border: 0cap;
        width: 70%;
        margin: 0% 15%;
        margin: 0% 15%;
    }
}
@media screen and (max-width: 700px){
    section{
        border: 0cap;
        width:100%;
        margin:0%;
    }
}