/*Javier Carrasco Arango : UO294532*/
/*Especificidad (0,0,1)*/
section{
    width:50%;
    margin:0% 25%;
    border: 0.2cap solid #afafaf;
    border-radius: 0.5cap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/*Especificidad (0,0,2)*/
section header{
    height: 100%;
    width: 100%;
}
/*Especificidad (0,0,1)*/
article{
    padding: 16.5% 11.5%;
    margin:0.2em;
    border: 0.1cap solid #176baf;
    border-radius: 0.6cap;
    cursor: pointer;
    transform: scale(1);
    transition: transform .5s;
    background-color: #1C7CCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}
/*Especificidad (0,0,2)*/
article h3,article img{
    transform-style: preserve-3d;
    position:absolute;
    text-align: center;
    margin: 0%;
    backface-visibility: hidden;
    border-radius: 1rem;
    width: 100%;
}
/*Especificidad (0,1,1)*/
article[data-state=flip] {
    transform: rotateY(180deg);
}
/*Especificidad (0,0,2)*/
article img{
    transform: rotateY(180deg);
}
@media screen and (max-width: 900px){
    section{
        border: 0cap;
        width:100%;
        margin:0%;
    }
}